<?xml version="1.0"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>-->
  <connectionStrings>
    <add name="InvestmentEntities" connectionString="metadata=res://*/InvestmentModel.csdl|res://*/InvestmentModel.ssdl|res://*/InvestmentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQL2012;Initial Catalog=Investments;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
